/* CSS Document */

*{
	box-sizing: border-box;
	padding:0px;
	margin:0px;
}

.clear-fix::after{
  content: "";
  display: block;
  clear: both;
}

body{color: #FFFFFF;}
a{text-decoration: none;}
li{list-style: none;}
